.auto-slider-primary{
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #991B1B;

}
.slider-info-container{
    width: 100%;
    height: 130px;
    padding: 0 200px 0 200px;
}
.info-container{
    width: 1160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.info-text{
    width: 415px;
    height: 100px;
}
.info{
    font-size: 32px;
    line-height: 50px;
}
.info-btn{
    width: 260px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-btn button{
    width: 100%;
    height: 42%;
    border-radius: 50px;
    border:  solid 1.2px rgb(255, 255, 255);
    background-color: #991B1B;
}

.info-btn button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.auto-slider-container{
    width: 100%;
    height: auto;
    padding: 70px 0 50px 0;
}
.sliders{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: 10px;
}
.sliders img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.slider-mini{
    width: 200px;
    height: 200px;
    margin: 10px;
}
.slider-mini img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

@media screen and (max-width: 1400px) {
   .slider-info-container  {
    width: 99w;
    padding-left: calc(5vw + 1px);
    padding-right:calc(5vw + 1px) ;
   }
   .info-container{
    width: 100%;
   }
  .info{
    font-size: 30px;
  }
  .auto-slider-container{
    width: 100vw;
    height: auto;
    max-width: 100%;
  
}

.sliders{
    width: 280px;
    height: 280px;
}
.sliders img{
    width: 100%;
    height: 100%;
}
.info-btns{
    display: none;
}

}

@media screen and (max-width:960px) {
    .sliders{
        width: 280px;
        height: 280px;
    }
    .slider-mini{
        width: 180px;
        height: 180px;
    }
    .info-btn{
        display: none;

    }

    .info-btns{
        width: 100vw;
        height: 120px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        gap: 10px;
    }
    .info-btns button{
        width: 100%;
        height: 42%;
        border-radius: 50px;
        border:  solid 1.2px rgb(255, 255, 255);
        background-color: #991B1B;
    }
    .info-btns a{
        font-size: 18px;
        text-decoration: none;
        color: white;
    }
}
@media screen and (max-width: 640px) {

   .info{
font-size: 25px;
line-height: 30px;
   }
   .sliders{
    width: 250px;
    height: 250px;
}
.slider-mini{
    width: 160px;
    height: 160px;
}
}